<style>
    a {
        color: #01aaed
    }
</style>
<wt:fieldset field-set-style="Simple" title="用户管理">
    <wt:quote>
        <p>老规矩，有图有真相，先上图：</p>
        <img width="1200" height="600" src="~/imgs/admin-user.png" />
    </wt:quote>
    <wt:quote>
        <p>
            通过用户管理的菜单，进入用户管理界面，可以看到用户列表。
            在这里可以新增用户、修改用户信息、修改用户密码、删除用户、查看用户详情、批量删除用户、导入用户信息、导出用户信息。
        </p>
    </wt:quote>
    <wt:quote>
        <p>
            新增用户，用户信息分为两部分，一部分为基本信息，另外一部分为附加信息。如下图：
        </p>
        <img src="~/imgs/admin-user-create-1.png" />
        <img src="~/imgs/admin-user-create-2.png" />
    </wt:quote>
    <wt:quote>
        <p>
            修改用户信息。如下图：
        </p>
        <img src="~/imgs/admin-user-edit.png" />
        <img src="~/imgs/admin-user-edit-password.png" />
    </wt:quote>
    <wt:quote>
        <p>
            用户详细信息。如下图：
        </p>
        <img src="~/imgs/admin-user-detail.png" />
    </wt:quote>
    <wt:quote>
        <p>
            用户导入，在导入之前，可以下载模板，填写模板信息后，通过导入添加用户信息，如图：
        </p>
        <img src="~/imgs/admin-user-import.png" />
        <p>导入过程中，一旦有数据的错误，会在导入的弹出窗口中显示错误信息。</p>
    </wt:quote>
</wt:fieldset>