{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"],
          "node": "current"
        }
      }
    ],
    "@vue/babel-preset-jsx"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
