<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>@ViewData["title"]</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
</head>

<body>
  <div id="LAY_app"></div>
  <script src="/layuiadmin/layui/layui.js"></script>
  <script>
    layui.config({
      base: '/layuiadmin/admin/' //指定 layuiAdmin 项目路径，本地开发用 src，线上用 dist
      , version: '1.2.1'
    }).use('index');
  </script>
  <!-- @RenderBody() -->
</body>

</html>
