<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["title"]</title>
    <meta name="author" content="Michael,Vito">
    <meta name="description" content="WalkingTec.Mvvm框架（简称WTM）最早开发与2013年，基于Asp.net MVC3 和 最早的Entity Framework, 当初主要是为了解决公司内部开发效率低，代码风格不统一的问题。经历了四年间数十个项目的考验，框架逐步的完善，推出了四个主要版本。 2017年9月，我们将代码移植到了.Net Core上，并进行了深度优化和重构，推出了基于Asp.net Core和EF Core的全新框架，新框架在架构，稳定性，速度上都有长足进步，真正成为一款高效开发的利器。
">
    <meta name="keywords" content=".net core 快速开发框架, dotnetcore 快速开发框架,WalkingTec, WTM, .Net Core, ASP.NET Core, dotnet core 框架, .net core 开发框架, dotnet core 开发框架, Mvvm, MVC, WebApi">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/jquery.min.js"></script>
    <script src="/jquery.haschange.js"></script>
    <script src="/jquery.cookie.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script src="/layui/formSelects.js"></script>
    <script src="/layui/autocomplete.js"></script>
    <script src="/_js/framework_layui.js?time=@DateTime.Now.Ticks"></script>
    <script>
        var DONOTUSE_IGNOREHASH = false;
        var DONOTUSE_COOKIEPRE = '@ViewData["DONOTUSE_COOKIEPRE"]';
        var DONOTUSE_WINDOWGUID = '@ViewData["DONOTUSE_WINDOWGUID"]';
        $(function () {
            $(window).hashchange(function () {
                if (DONOTUSE_IGNOREHASH == true) {
                    DONOTUSE_IGNOREHASH = false;
                    return;
                }
                var hash = window.location.hash;
                if (hash == null || hash == '') {
                    hash = '/Home/FrontPage';
                }
                hash = hash.replace('#', '');
                ff.CloseAllDialog();
                ff.LoadPage(encodeURIComponent(hash));
            });
            $(window).hashchange();
        });
    </script>
</head>
<body class="layui-layout-body">
    <div id="DONOTUSE_MAINPANEL">
    </div>
    @RenderBody()
    <script>
        layui.element.init();
    </script>
</body>
</html>