**/.DS_Store
**/.vscode
**/.vs
**/*.md
**/*.sh
**/*.log
**/publish
**/Publish
**/.env

# Project
**/Bin
**/bin
**/Obj
**/obj
**/Logs
**/logs

# Docker
**/Dockerfile*
**/.dockerignore
**/docker-compose.yml
**/docker-compose.*.yml

# Git
**/.git
**/.gitattributes
**/.gitignore
