# node
**/node_modules

**/.DS_Store
**/.vscode
**/.azure
**/.vs
**/*.md
**/*.sh
**/*.log
**/publish
**/Publish
**/.env

# Project
**/Bin
**/bin
**/Obj
**/obj
**/Logs
**/logs

# Docker
**/*Dockerfile*
!**/*Dockerfile*.txt
**/.dockerignore
**/docker-compose.yml
**/docker-compose.*.yml

# Git
**/.git
**/.gitattributes
**/.gitignore
