@page "/login"
@using  WalkingTec.Mvvm.Demo.ViewModels.HomeVMs
@inherits BasePage
@layout EmptyLayout

<div class="d-flex flex-column app-layout-login ">
    <div class="flex-fill  login-layout app-login-back-@(new Random().Next(1,6))">
        <header class="login-header">
            <img  src="/images/logo.png" alt="" height="48">
        </header>
        <div class="login-content">
            <div class="login-form">
                <h1>WTM Blazor</h1>
                <ValidateForm Model="@Model" OnValidSubmit="@Submit">
                    <BootstrapInput @bind-Value="@Model.ITCode" />
                    <BootstrapInput @bind-Value="@Model.Password" type="password" />
                    <Button ButtonType="ButtonType.Submit" Text="Login" style="width:100%;margin-top:20px;" />
                </ValidateForm>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public bool? LoginSuccess { get; set; }
    [Parameter]
    public EventCallback<bool?> LoginSuccessChanged { get; set; }
    private LoginVM Model = new LoginVM();
    private async Task Submit(EditContext context)
    {
        var rv = await WtmBlazor.Api.CallAPI<DynamicData>("/api/_account/loginjwt", HttpMethodEnum.POST, new { Account = Model.ITCode, Password = Model.Password });
        if (rv.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var token = rv.Data.Fields["access_token"].ToString();
            await SetToken(token);
            await LoginSuccessChanged.InvokeAsync(true);
        }
        else
        {

        }
    }
}
