@model WalkingTec.Mvvm.Core.BaseVM
<style>
    a {
        color: #01aaed
    }
</style>

这里收集了群里大家常问的问题，我们会不断更新

<wt:quote>
    <p>问：框架默认创建的用户名密码是什么？</p>
    <p>答：框架默认创建的用户是admin，密码000000</p>
</wt:quote>

<wt:quote>
    <p>问：为什么我左侧显示的菜单不是我在菜单管理里配置的菜单？</p>
    <p>答：在前后端不分离的情况下，appsettings文件中有一个IsQuickDebug属性，默认是true，当IsQuickDebug为true的时候框架处于调试模式，框架会反射你所有controller的方法并列在左边菜单中，并跳过所有权限验证，方便你进行调试。当IsQuickDebug为false的时候，框架才会读取你配置的菜单并进行权限验证。所以当你发布生产环境的时候，请把IsQuickDebug改为false</p>
    <p>在前后端分离模式下，左侧菜单是由前端控制的，ClientApp/src 目录下的 global.config.tsx文件中有一个development的属性，为true时，框架会读取ClientApp/src/subMenu.json文件中定义的菜单，为false时，框架才会使用数据库中配置的菜单。发布前端时，development会自动被设定为false。</p>
</wt:quote>

<wt:quote>
    <p>问：为什么我配置使用mysql失败？</p>
    <p>答：一般来说有以下几个原因：</p>
    <p>mysql版本过低，请至少使用5.7以上的</p>
    <p>mysql默认字符集不是utf8，不支持中文</p>
    <p>appsettings中连接字符串写的不对,一般标准格式是类似这种 Server=127.0.0.1; Database=dbname;port=3306; uid=root; password=12345</p>
    <p>appsettings中的DBType要写成mysql</p>
</wt:quote>

<wt:quote>
    <p>问：第一次运行项目并没有自动建库或者没有初始化数据</p>
    <p>答：请检查如下方面：</p>
    <p>appsettings文件中的连接字符串和DBType是否填写正确</p>
    <p>是否已经存在同名库</p>
    <p>如果库有了，但是没有创建默认用户，极大的可能就是mysql默认字符集不对，所以插入不了中文</p>
</wt:quote>

<wt:quote>
    <p>问：我需要自定义的用户表怎么办？</p>
    <p>答：可以通过简单的继承来扩展框架自带的用户表，具体介绍参见<a href="/#/QuickStart/CustomUser">这里</a></p>
</wt:quote>

<wt:quote>
    <p>问：为什么我添加了新model，但是数据库中没有新的表</p>
    <p>答：EF目前不支持自动更新数据库，关于同步数据库的几种方法，请参考<a href="/#/Data/Migration">这里</a></p>
</wt:quote>
<script>
  $("#@Model.ViewDivId").parent().css("height", "auto");
</script>
