@model WalkingTec.Mvvm.Core.BaseVM
<style>
    a {
        color: #01aaed
    }
</style>
<wt:fieldset field-set-style="Simple" title="Create the first WTM project in VS">
    <wt:quote>
        <p>It is very simple to create a project using the WTM framework. WTM provides creating a solution with one-click online.</p>
    </wt:quote>
    <wt:quote>
        <p>点<a href="/setup" target="_blank"> Click here </a> to generate zip package which will contain generated solution. Download, unzip, and open VS.</p>
    </wt:quote>

    <ul class="doc">
        <li>
            After you will click above link configuration page will apear, choose the configuration you want<br /><br />
            <img src="~/imgs/FirstProject9en.png" /><br /><br />
        </li>
        <li>
            Download the ZIP file, unzip it, open the project file, and press F5 to run<br /><br />
            <img src="~/imgs/FirstProject11en.png" /><br /><br />
        </li>
    </ul>

    <wt:quote>
        <p>The whole process of building WTM framework is just a few clicks. Without writing a line of code, you can get the standard structure and common functions of a back-end application.
        <p>Next, let's start to develop function modules. You will find that it is also fast and efficient to write business modules with WTM framework.</p>
    </wt:quote>

</wt:fieldset>
<script>
  $("#@Model.ViewDivId").parent().css("height", "auto");
</script>
