<style>
    a {
        color: #01aaed
    }
</style>
<wt:fieldset field-set-style="Simple" title="WTM的由来">
    <p>WalkingTec.Mvvm框架（简称WTM）最早开发与2013年，基于Asp.net MVC3 和 最早的Entity Framework, 当初主要是为了解决公司内部开发效率低，代码风格不统一的问题。经历了四年间数十个项目的考验，框架逐步的完善，推出了四个主要版本。</p>
    <p>2017年9月，我们将代码移植到了.Net Core上，并进行了深度优化和重构，推出了基于Asp.net Core和EF Core的全新框架，新框架在架构，稳定性，速度上都有长足进步，真正成为一款高效开发的利器。</p>
    <p>框架已开源，欢迎大家提出宝贵意见 <a href="https://github.com/WalkingTec/WalkingTec.Mvvm" target="_blank">https://github.com/WalkingTec/WalkingTec.Mvvm</a></p>
</wt:fieldset>

<wt:fieldset field-set-style="Simple" title="WTM解决的问题">
    <wt:quote>
        <p>对于一个Web应用程序，20%的功能是简单的增删改查，50%的功能是稍微复杂一些的增删改查，只有30%的功能是真正具有复杂逻辑的，但其实也是增删改查。。。WTM框架把常规编码结构化，重复编码自动化，大大提高了开发效率</p>
        <p>如果你要开发的是一个面向内部人员的后台管理程序，WTM框架绝对是你的最佳选择，它连通了前台UI和后台代码。你不需要前后台分离，不需要两个人配合，减少成本，缩短工期。</p>
        <p>当然你也可以使用WTM框架来编写服务，只是不使用框架提供的前端UI功能而已，对于后端代码还是可以提高效率</p>
    </wt:quote>
</wt:fieldset>


<wt:fieldset field-set-style="Simple" title="WTM提供了什么">
    <wt:quote>
        WTM连通了前台UI，后台代码，和数据库操作。封装了Model,ViewModel,Controller,TagHelper,提供了大量实用的基类和方法，更重要的是它提供了各种常见场景的编程模型
    </wt:quote>
    <ol class="doc">
        <li>
            框架提供了4类ViewModel，涵盖了主流Web应用程序常见的功能，分别是：
            <ul class="doc">
                <li>BaseCRUDVM 提供最常见的数据增删改的功能</li>
                <li>PagedListVM 提供分页列表以及导出的功能</li>
                <li>ImportVM & TemplateVM 提供数据导入的功能</li>
                <li>BatchVM 提供批量操作的功能</li>
            </ul>
        </li>
        <li>
            框架提供了数十种前台控件，包括了Form,Grid,Panel,Dialog等几乎所有常用控件，在不进行前后分离的情况下，后端人员也可以轻松写出漂亮的前台页面。目前前后端不分离的模式下，框架只支持Layui作为前端UI，后期我们会支持更多。
        </li>
        <li>
            框架支持前后端分离模式，目前只有React，后续会支持VUE
        </li>
        <li>
            框架提供了内置的用户，角色，用户组，数据权限，页面权限，菜单，日志，邮件，短信，文件等后台常用管理功能
        </li>
        <li>
            框架支持单点登录，门户Portal，分布式数据库
        </li>
        <li>
            框架提供了Redis,DFS等后台开发常用库的简化操作
        </li>
    </ol>
</wt:fieldset>

<wt:quote>
    <p>初次使用框架的朋友如果遇到问题请先看<a href="/#/QuickStart/FAQ">FAQ</a>，如果解决不了欢迎来交流群提问，QQ交流群：694148336</p>
</wt:quote>


<h2 style="text-align:center">现在就点 <a href="/setup" target="_blank">这里</a> 立刻生成第一个WTM项目吧</h2>
<br />
<h3 style="text-align:center">
    <img src="~/imgs/gongzhonghao.jpg" width="200" height="200" /><br/>
    关注WTM微信公众号，及时了解框架更新，公众号还会定期发布视频教程<br />
</h3>
<br />
<h2 style="text-align:center">
    <iframe src="//ghbtns.com/github-btn.html?user=dotnetcore&repo=wtm&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170px" height="30px"></iframe>
    <iframe src="//ghbtns.com/github-btn.html?user=dotnetcore&repo=wtm&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="170px" height="30px"></iframe>
</h2>
<script>
    $.get("/_framework/GetGithubStarts", function (r) {
        $("#githubstars").html(r);
    });
</script>
