@model WalkingTec.Mvvm.Core.BaseVM
<style>
    a {
        color: #01aaed
    }
</style>
<wt:fieldset field-set-style="Simple" title="框架管理模块">
    <wt:quote>
        <p>框架管理模块中包含管理系统中大部分通用功能，例如：用户管理、角色管理、菜单管理、用户组管理、数据权限管理、日志管理。使用此框架，这些基础模块开箱即用，免去了大量的重复性劳动，各位小伙既可以快速满足客户需求，又可以抽出时间多陪陪自己的家人和朋友，何乐而不为，大家快来使用吧。下面就给大家分别介绍下框架管理模块中的功能。</p>
    </wt:quote>
</wt:fieldset>

<wt:fieldset field-set-style="Simple" title="日志管理">
    <wt:quote>
        <p>顾名思义，记录所有用户的所有操作。使用过MVC的小伙伴们应该都知道，用户的每个操作必然会对应到后台的某个Controller下的某个Action，MVC提供了Action的过滤器，框架通过重写OnActionExecuting监控每个Action的执行，从而记录下操作的日志。</p>
    </wt:quote>
</wt:fieldset>

<wt:fieldset field-set-style="Simple" title="用户管理">
    <wt:quote>
        <p>超级管理员维护使用系统的用户。超级管理员可以通过用户管理添加用户、修改用户信息、删除用户。</p>
    </wt:quote>
</wt:fieldset>

<wt:fieldset field-set-style="Simple" title="角色管理">
    <wt:quote>
        <p>角色的新增，修改、删除以及角色的页面权限在此完成。</p>
    </wt:quote>
</wt:fieldset>

<wt:fieldset field-set-style="Simple" title="菜单管理">
    <wt:quote>
        <p>通过菜单管理的模块，将系统中的功能与菜单关联起来。这里有同步模块、检查页面、刷新菜单、新建菜单的功能。</p>
    </wt:quote>
</wt:fieldset>

<wt:fieldset field-set-style="Simple" title="用户组管理">
    <wt:quote>
        <p>用户组同角色平级的一种用户组织形式，主要是用来维护相同数据权限的用户。而角色主要是用来维护页面权限的一组用户。</p>
    </wt:quote>
</wt:fieldset>

<wt:fieldset field-set-style="Simple" title="数据权限">
    <wt:quote>
        <p>数据权限是标名那些用户具有哪些数据的查看权限。数据权限可以配置到用户组也可以配置到用户。</p>
    </wt:quote>
</wt:fieldset>
<script>
  $("#@Model.ViewDivId").parent().css("height", "auto");
</script>
