<wt:fieldset field-set-style="Simple" title="日志管理-模块截图">
    <img width="1200" height="600" src="~/imgs/admin-log.png" />
</wt:fieldset>
<wt:fieldset field-set-style="Simple" title="日志管理-功能介绍">
    通过日志管理模块，可以做到如下事情：
    <ol class="doc">
        <li>查询系统操作日志</li>
        日志中记录了每个模块，每个动作，操作人，操作人IP，以及操作时间等相关信息。
        <li>通过日志分析系统问题</li>
        例如：日志列表中还有耗时的字段，可以根据此字段，知道每个Action执行的时间长短，从而可以知道那些操作比较耗时，进而有针对性的对系统进行优化。
        查询条件中有日志的类型，类型分为：普通、异常、调试三种，根据异常日志可以发现系统问题，这个异常信息对于开发调试过程非常有帮助。
        点击详情，可以查看日志的详细信息，如果是异常日志，抛出的异常堆栈信息可以在详情中查看到，通过分析堆栈信息，可以快速定位代码问题。
        <li>导出日志，便于查看和备份</li>
        点击导出Excel，可以将日志导出为Excel表格，便于查看和备份日志信息。
    </ol>
</wt:fieldset>
<wt:fieldset field-set-style="Simple" title="日志管理-配置文件">
    <wt:quote>
        日志的记录可以通过appsetting.json配置文件中的EnableLog的配置，设置是否记录日志，还可以通过LogExceptionOnly的配置，设置是否只记录异常日志，为各位使用者提供了灵活的日志记录配置。
    </wt:quote>
    <img src="~/imgs/admin-appsettings.png" />
</wt:fieldset>