@model WalkingTec.Mvvm.Core.BaseVM
<wt:fieldset field-set-style="Simple" title="菜单管理-模块截图">
    <img src="~/imgs/admin-menu.png" />
</wt:fieldset>
<wt:fieldset field-set-style="Simple" title="菜单管理-功能介绍">
    <p>
        点击系统管理-菜单管理，进入菜单管理界面，可以看到菜单的列表，该列表具有层级结构。层次结构体现某个页面下具有的某些操作。
        通过菜单模块可以新建菜单、修改菜单、删除菜单、查看菜单详情、检查页面、刷新菜单的功能。
    </p>
    <p>
        新建菜单，如下图：
    </p>
    <img src="~/imgs/admin-menu-create-1.png" />
    <wt:quote>菜单信息页签</wt:quote>
    <ol class="doc">
        <li>内部地址：</li>
        可以选择内部和外部。是因为框架不但可以管理本域的链接地址，也可以管理外域的链接地址，通过此处选择内部和外部即可。
        当选择内部时，可以看到模块和动作的下拉列表。这里的模块和动作的数据是框架通过反射，将Controller作为模块，将Action作为动作显示出来的。
        当选择外部时，可以看到模块和动作的下拉列表消失，出现url字段，此处可以填写一个url地址，框架会根据url地址，将页面加载到右侧的内容区域中，从而实现对外域系统的管理。
        <br />
        <li>页面名称：</li>这里维护的页面名称就是菜单上要显示的名称。可以选择父目录，使菜单具有层次结构。
        <br />
        <li>目录：</li>如果选择是目录，则显示在菜单上时候，是不能点击的，只是一种菜单层次的组织方式。如果选择不是目录，那就是菜单，可以点击进入对应的页面。
        <br />
        <li>菜单显示：</li>选择是，则在左侧显示出来，选择否，则不显示。该配置是当配置页面上某个操作的时候，例如删除操作，只是页面上的某个操作，因此无需作为菜单显示出来。
        <br />
        <li>公开：</li>选择是，该菜单无需权限验证，不登陆用户也可以访问。选择否，则需要进行权限验证，如果登陆用户具有该菜单的权限，才能够访问。
        <br />
        <li>顺序：</li>维护菜单显示的顺序，可以调整菜单在左侧显示的顺序。
        <br />
        <li>图标：</li>可以选择字体图标，作为菜单显示的icon，增加系统的美观程度。
    </ol>
    <wt:quote>权限设置</wt:quote>
    <p>
      点击选择，角色处，即可弹出角色的列表，便于选择。弹出页面，具有查询功能，方便快速查找到需要的数据。
      通过选择允许访问的角色给菜单快速配置访问权限，细致到每个动作的权限可以去角色中的权限配置里进行更详细的配置。
    </p>
</wt:fieldset>
<script>
  $("#@Model.ViewDivId").parent().css("height", "auto");
</script>
