@model WalkingTec.Mvvm.Core.BaseVM
<style>
    a {
        color: #01aaed
    }
</style>
<wt:fieldset field-set-style="Simple" title="角色管理-模块截图">
    <img src="~/imgs/admin-role.png" />
</wt:fieldset>
<wt:fieldset field-set-style="Simple" title="角色管理-功能介绍">
        <p>
            通过系统管理-角色管理，进入角色管理界面，可以看到系统中的角色列表。
            通过此处功能可以新增角色、修改角色、删除角色、批量删除、导入、导出、页面权限的功能。其中，页面权限的功能比较特别。通过该功能，可以赋予某个角色某些权限。
            框架的权限控制到了每个Action，这为系统提供了灵活多变的权限管理的功能。
        </p>
        <p>
            新增角色。如下图：
        </p>
        <img src="~/imgs/admin-role-create.png" />
        <p>
            修改角色。如下图：
        </p>
        <img src="~/imgs/admin-role-edit.png" />
        <p>
            角色详细信息。如下图：
        </p>
        <img src="~/imgs/admin-role-detail.png" />
        <p>
            角色导入，在导入之前，可以下载模板，填写模板信息后，通过导入批量添加角色信息，如图：
        </p>
        <img src="~/imgs/admin-role-import.png" />
        <p>导入过程中，一旦有数据的错误，会在导入的弹出窗口中显示错误信息。</p>
        <p>
            页面权限，给某个角色添加页面权限，权限粒度控制到了每个动作上，如图：
        </p>
        <img src="~/imgs/admin-role-page.png" />

</wt:fieldset>
<script>
  $("#@Model.ViewDivId").parent().css("height", "auto");
</script>
