@model WalkingTec.Mvvm.Core.BaseVM
<wt:fieldset field-set-style="Simple" title="用户管理-模块截图">
    <img src="~/imgs/admin-user.png" />
</wt:fieldset>
<wt:fieldset field-set-style="Simple" title="用户管理-功能介绍">
        <p>
            通过系统管理-用户管理的菜单，进入用户管理界面，首先看到的是用户列表。
            用户列表的右上方，有新增、修改密码、批量删除、导入和导出的功能。其中，批量删除时，用户可以勾选列表中的多条记录进行操作。
            每行数据的操作列上，有修改、修改密码、删除、详细的操作，这些操作只是针对该行记录。
        </p>
        <p>
            新建用户，用户信息分为两部分，一部分为基本信息，另外一部分为附加信息。其中标注红色星号的字段为必填项。如下图：
        </p>
        <img src="~/imgs/admin-user-create-1.png" />
        <img src="~/imgs/admin-user-create-2.png"  />
        <p>
            修改用户信息。如下图：
        </p>
        <img src="~/imgs/admin-user-edit.png"  />
        <p>
            修改密码。如下图：
        </p>
        <img src="~/imgs/admin-user-edit-password.png" />
        <p>
            用户详细信息。如下图：
        </p>
        <img src="~/imgs/admin-user-detail.png" />
        <p>
            用户导入。在导入之前，可以下载模板，填写模板信息后，通过导入添加用户信息。导入过程中，一旦有数据的错误，会在导入的弹出窗口中显示错误信息。如图：
        </p>
        <img src="~/imgs/admin-user-import.png" />
</wt:fieldset>
<script>
  $("#@Model.ViewDivId").parent().css("height", "auto");
</script>
