@model WalkingTec.Mvvm.Core.BaseVM
<wt:fieldset field-set-style="Simple" title="User management-module screenshot">
    <img src="~/imgs/admin-useren.png" />
</wt:fieldset>
<wt:fieldset field-set-style="Simple" title="User management introduction">
        <p>
            System management-user management menu.Enter the user management interface, the first thing you see is the user list. At the top right of the user list, you can add, modify passwords, batch delete, import and export. By batch deletion, you can check multiple records in the list for operation. In the operation column of each row , there are modification, password modification, deletion and detailed operations, which are only work for that row.
        </p>
        <p>
            new users, user information is divided into two parts, one is basic information, the other is additional information. The field marked with red asterisk is required. AS following:
        </p>
        <img src="~/imgs/admin-user-create-1en.png" />
        <img src="~/imgs/admin-user-create-2en.png"  />
        <p>
            Modify user information. As following:
        </p>
        <img src="~/imgs/admin-user-editen.png"  />
        <p>
            Change Password. As following:
        </p>
        <img src="~/imgs/admin-user-edit-passworden.png" />
        <p>
            User details. As following:
        </p>
        <img src="~/imgs/admin-user-detailen.png" />
        <p>
            User import. Before importing, you can download the template, fill in the template information, add user information by importing. In the process of importing, once there is a data error, the error information will be displayed in the imported pop-up window. As following:
        </p>
        <img src="~/imgs/admin-user-importen.png" />
</wt:fieldset>
<script>
  $("#@Model.ViewDivId").parent().css("height", "auto");
</script>
