@model WalkingTec.Mvvm.ApiDemo.ViewModels.HomeVMs.IndexVM
<div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree">
        @foreach (var item in Model.Menu)
        {
            <li class="layui-nav-item">
                <a class="" href="javascript:;">
                    @if (!string.IsNullOrEmpty(item.ICon)){<img class="layui-nav-img" src="@item.ICon">}@item.Text
                </a>
                <dl class="layui-nav-child">
                    @foreach (var child in item.Children)
                    {
                        <dd><a href="javascript:;ff.LoadPage('@child.Url')">
                            @if (!string.IsNullOrEmpty(child.ICon)){<img class="layui-nav-img" src="@child.ICon">}@child.Text
                        </a></dd>
                    }
                </dl>
            </li>
        }
    </ul>
</div>
