.welcome-header {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
    line-height: 2;
}

.welcome-footer {
    display: flex;
    flex-direction: column;
    /* position: absolute;
        bottom: 0;
        left: 0;
        right: 0;*/
    padding: 0 15px;
    margin: 20px 10px;
}

    .welcome-footer > div:not(:last-child) {
        margin-bottom: 1rem;
    }

    .welcome-footer > div {
        justify-content: space-between;
    }

.q-link > div {
    padding: 8px 0;
    background-color: #f0f0f4;
    width: 92px
}

    .q-link > div p {
        margin-bottom: 0px;
    }


.card {
    text-align: center;
    border-color: #dce3e8;
    height: 263px;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.intro p {
    font-size: 15px;
    color: #1a1a1a;
    letter-spacing: .41px;
    text-align: center;
    line-height: 24px;
}

.intro h3 {
    color: #1a1a1a;
    letter-spacing: .1px;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
    margin: 15px 0;
    font-size: 1.25rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.q-link a {
    color: #367fa9;
    text-align: center;
}

.q-link i {
    font-size: 3em;
    display: block;
}

.d-sm-block i {
    font-size: 4em;
}

.badge-widget {
    display: inline;
}

    .badge-widget i {
        font-size: 2em;
        display: block;
    }

.badge {
    display: block;
    opacity: 0.8;
}
