@page "/"
@using WalkingTec.Mvvm.Core;
@using WalkingTec.Mvvm.Mvc.Admin.ViewModels.ActionLogVMs;
@inject IStringLocalizer Localizer;
@inject ApiClient api
@inject DialogService ds
<Button @onclick="@Show">Dialog</Button>

@code{

    private ActionLogSearcher SearchModel = new ActionLogSearcher();
    private Table<ActionLog> searchTable;

        private async Task Show()
        {
            var option = new DialogOption()
            {
                Title = "利用代码关闭弹出框",
            };
            option.BodyTemplate = DynamicComponent.CreateComponent<Button>(new KeyValuePair<string, object>[]
            {
                new KeyValuePair<string, object>(nameof(Button.Text), "点击关闭弹窗"),
                new KeyValuePair<string, object>(nameof(Button.OnClick), EventCallback.Factory.Create<MouseEventArgs>(this, async () => await option.Dialog.Close()))
            }).Render();
            await ds.Show(option);
        }

}
