.data-view-modal {
    .data-view-modal-footer {
        height: 40px;
    }
    .data-view-form-btns {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 20px;
        left: 0;
        text-align: right;
        border-top: 1px solid #e8e8e8;
        background: #fff;
    }
}

.data-view-drawer {
    .data-view-form-item {
        position: absolute;
        left: 0;
        right: 0;
        top: 55px;
        bottom: 65px;
        overflow: auto;
        padding: 24px;
    }
    .data-view-form-btns {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 20px;
        left: 0;
        text-align: right;
        border-top: 1px solid #e8e8e8;
        background: #fff;
    }
}