@inherits LayoutComponentBase

<Layout>
    <Sider Collapsed=@collapsed Style="overflow-x:hidden; overflow-y: auto;height: 100vh;position: fixed;left: 0;" Collapsible Breakpoint="@BreakpointType.Lg"
           CollapsedWidth="50">
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{"4"})>
            <MenuItem Key="1">
                <Icon Type="user" Theme="outline" />
                <span class="nav-text">nav adfas</span>
            </MenuItem>
            <MenuItem Key="2">
                <Icon Type="video-camera" Theme="outline" />
                <span class="nav-text">nav 2</span>
            </MenuItem>
            <MenuItem Key="3">
                <Icon Type="upload" Theme="outline" />
                <span class="nav-text">nav 3</span>
            </MenuItem>
            <MenuItem Key="4">
                <Icon Type="bar-chart" Theme="outline" />
                <span class="nav-text">nav 4</span>
            </MenuItem>
            <MenuItem Key="5">
                <Icon Type="cloud" Theme="outline" />
                <span class="nav-text">nav 5</span>
            </MenuItem>
            <MenuItem Key="6">
                <Icon Type="appstore" Theme="outline" />
                <span class="nav-text">nav 6</span>
            </MenuItem>
            <MenuItem Key="7">
                <Icon Type="team" Theme="outline" />
                <span class="nav-text">nav 7</span>
            </MenuItem>
            <MenuItem Key="8">
                <Icon Type="shop" Theme="outline" />
                <span class="nav-text">nav 8</span>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Class="site-layout" Style=" margin-left: 200px">
        <Header Class="site-layout-background" Style="padding: 0">
            @if (collapsed)
            {
                <Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="toggle" />
            }
            else
            {
                <Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="toggle" />
            }
        </Header>
        <Content Style="margin: 24px 16px 0; overflow: initial; ">
            <div class="site-layout-background" style="padding: 24px; text-align:center; ">
                @Body
            </div>
        </Content>
    </Layout>
</Layout>

<style>
    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
    }

        .trigger:hover {
            color: #1890ff;
        }

    .ant-layout-sider .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }
    .ant-layout-sider-collapsed .logo {
        height: 32px;
        background: rgba(255, 0, 0, 0.2);
        margin: 16px;
    }

    .site-layout .site-layout-background {
        background: #fff;
    }
</style>

@code
{
    bool collapsed;

    void toggle()
    {
        collapsed = !collapsed;
    }
}
