
<title>柱状图</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>高级</cite></a>
    <a><cite>Echarts集成</cite></a>
    <a><cite>柱状图</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header">标准柱状图</div>
        <div class="layui-card-body">

          <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-normcol">
            <div carousel-item id="LAY-index-normcol">
              <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
            </div>
          </div>

        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">堆积柱状图</div>
        <div class="layui-card-body">
          
          <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-heapcol">
            <div carousel-item id="LAY-index-heapcol">
              <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
            </div>
          </div>

        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">不等距柱形图</div>
        <div class="layui-card-body">
          
          <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-diffcol">
            <div carousel-item id="LAY-index-diffcol">
              <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
            </div>
          </div>

        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">彩虹柱形图</div>
        <div class="layui-card-body">
          
          <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-colorline">
            <div carousel-item id="LAY-index-colorline">
              <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header">标准条形图</div>
        <div class="layui-card-body">
          
          <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-normbar">
            <div carousel-item id="LAY-index-normbar">
              <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
            </div>
          </div>

        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">堆积条形图</div>
        <div class="layui-card-body">
         
          <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-heapbar">
            <div carousel-item id="LAY-index-heapbar">
              <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
            </div>
          </div>

        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">旋风条形图</div>
        <div class="layui-card-body">
         
          <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-windline">
            <div carousel-item id="LAY-index-windline">
              <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
            </div>
          </div>

        </div>
      </div>
    </div> 
  </div>
</div>

<script>
layui.use('senior', layui.factory('senior'));
</script>