
<title>地图</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>高级</cite></a>
    <a><cite>Echarts集成</cite></a>
    <a><cite>地图</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-sm12">
      <div class="layui-card">
        <div class="layui-card-header">地图</div>
        <div class="layui-card-body">
          
          <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-plat">
            <div carousel-item id="LAY-index-plat">
              <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
layui.use('senior', layui.factory('senior'));
</script>