

  <title>开启合计行 - 数据表格</title>

  <div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
      <a lay-href="">主页</a>
      <a><cite>组件</cite></a>
      <a><cite>数据表格</cite></a>
      <a><cite>开启合计行</cite></a>
    </div>
  </div>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">开启合计行</div>
          <div class="layui-card-body">
            <table class="layui-hide" id="test-table-totalRow" lay-filter="test-table-totalRow"></table>
            
            <script type="text/html" id="test-table-totalRow-toolbarDemo">
              <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
              </div>
            </script>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
  layui.use(['admin', 'table'], function(){
    var admin = layui.admin
    ,table = layui.table;
  
    table.render({
      elem: '#test-table-totalRow'
      ,url:'./json/table/demo.js'
      ,toolbar: '#test-table-totalRow-toolbarDemo'
      ,title: '用户数据表'
      ,totalRow: true
      ,cols: [[
        {type: 'checkbox', fixed: 'left'}
        ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, totalRowText: '合计'}
        ,{field:'username', title:'用户名', width:120, edit: 'text'}
        ,{field:'experience', title:'积分', width:80, sort: true, totalRow: true}
        ,{field:'sex', title:'性别', width:80, edit: 'text', sort: true}
        ,{field:'logins', title:'登入次数', width:100, sort: true, totalRow: true}
        ,{field:'sign', title:'签名'}
      ]]
      ,page: true
    });
    
    //头工具栏事件
    table.on('toolbar(test-table-totalRow)', function(obj){
      var checkStatus = table.checkStatus(obj.config.id);
      switch(obj.event){
        case 'getCheckData':
          var data = checkStatus.data;
          layer.alert(JSON.stringify(data));
        break;
        case 'getCheckLength':
          var data = checkStatus.data;
          layer.msg('选中了：'+ data.length + ' 个');
        break;
        case 'isAll':
          layer.msg(checkStatus.isAll ? '全选': '未全选');
        break;
      };
    });
  
  });
  </script>