@model WalkingTec.Mvvm.Mvc.Admin.ViewModels.FrameworkUserVms.FrameworkUserBatchVM
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model">
  <div style="margin-bottom:10px">@Localizer["Sys.BatchEditConfirm"] </div>
  <wt:row items-per-row="ItemsPerRowEnum.Two">
    <wt:checkbox field="LinkedVM.SelectedRolesCodes" items="LinkedVM.AllRoles" />
  </wt:row>
  <wt:hidden field="Ids" />
  <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
  <wt:row align="AlignEnum.Right">
    <wt:submitbutton />
    <wt:closebutton />
  </wt:row>
</wt:form>

<!-- WTM默认页面 Wtm buidin page-->
