@namespace WtmBlazorControls
@inherits WTComponent

<CascadingValue Value="this" IsFixed="true" >
    @RowItems
</CascadingValue>
@if (!FirstRender)
{
    <div @attributes="@AdditionalAttributes" class="@ClassString">

        @foreach (var item in Items)
        {
            <div class="@ChildClass">
                @item
            </div>
        }
    </div>
}
