@import './index.scss';

/* 页面宽度小于768px
------------------------------- */
@media screen and (max-width: $sm) {
	// 时间选择器适配
	.el-date-range-picker {
		width: 100vw;
		.el-picker-panel__body {
			min-width: 100%;
			.el-date-range-picker__content {
				.el-date-range-picker__header div {
					margin-left: 22px;
					margin-right: 0px;
				}
				& + .el-date-range-picker__content {
					.el-date-range-picker__header div {
						margin-left: 0px;
						margin-right: 22px;
					}
				}
			}
		}
	}
}
