/* 栅格布局（媒体查询变量）
* https://developer.mozilla.org/zh-CN/docs/Learn/CSS/CSS_layout/Media_queries
* $us ≥376px  响应式栅格
* $xs ≥576px  响应式栅格
* $sm ≥768px  响应式栅格
* $md ≥992px  响应式栅格
* $lg ≥1200px 响应式栅格
* $xl ≥1920px 响应式栅格
------------------------------- */
$us: 376px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;
