@import './index.scss';

/* 页面宽度小于768px
------------------------------- */
@media screen and (max-width: $sm) {
	.personal-info {
		padding-left: 0 !important;
		margin-top: 15px;
	}
	.personal-recommend-col {
		margin-bottom: 15px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
