

<title>商品列表</title>
  
<script type="text/html" template>
  <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>页面</cite></a>
    <a><cite>商品列表</cite></a>
  </div>
</div>

<div class="layui-fluid layadmin-cmdlist-fluid">
  <div class="layui-row layui-col-space30">
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template>
                <img src="{{ layui.setter.base }}style/res/template/portrait.png">
              </script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template>
                <img src="{{ layui.setter.base }}style/res/template/portrait.png">
              </script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"></script>
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md12 layui-col-sm12">
        <div id="demo0"></div>
    </div>
  </div>
</div>

<script>
layui.use(['admin', 'laypage', 'layer'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,laypage = layui.laypage
  ,layer = layui.layer;

  laypage.render({
    elem: 'demo0'
    ,count: 50 //数据总数
  });

});
</script>