  
  
<title>个人主页</title>
  
<script type="text/html" template>
  <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>页面</cite></a>
    <a><cite>个人主页</cite></a>
  </div>
</div>
  
<div class="layui-fluid layadmin-homepage-fluid">
  <div class="layui-row layui-col-space8">
    <div class="layui-col-md2">
      <div class="layadmin-homepage-panel layadmin-homepage-shadow">
        <div class="layui-card text-center">
          <div class="layui-card-body">
            <div class="layadmin-homepage-pad-ver">
              <script type="text/html" template>
                <img class="layadmin-homepage-pad-img" src="{{ layui.setter.base }}style/res/template/portrait.png" width="96" height="96">
              </script>
            </div>
            <h4 class="layadmin-homepage-font">胡歌</h4>
            <p class="layadmin-homepage-min-font">中国知名演员</p>
            <div class="layadmin-homepage-pad-ver">
              <a href="javascript:;" class="layui-icon layui-icon-cellphone"></a>
              <a href="javascript:;" class="layui-icon layui-icon-vercode"></a>
              <a href="javascript:;" class="layui-icon layui-icon-login-wechat"></a>
              <a href="javascript:;" class="layui-icon layui-icon-login-qq"></a>
            </div>
            <button class="layui-btn layui-btn-fluid">跟随</button>
          </div>
        </div>
        <p class="layadmin-homepage-about">
          关于我
        </p>
        <ul class="layadmin-homepage-list-group">
          <li class="list-group-item"><i class="layui-icon layui-icon-location"></i>中国上海</li>
          <li class="list-group-item"><a href="javascript:;" class="color"><i class="layui-icon layui-icon-snowflake"></i><span style="word-wrap:break-word;">https://weibo.com/hu_ge</span></a></li>
        </ul>
        <div class="layadmin-homepage-pad-hor">
          <mdall>胡歌喜欢摄影，也喜欢写字，他视角独特，充满着奇思妙想。他有着极丰富的情感，和对生活的热情，他能点燃观众心中爱的火焰；胡歌积极、乐观、坚强，他脚踏实地地做好每一件事，真诚地对待身边每一个人</mdall>
        </div>
        <p class="layadmin-homepage-about">
          技能
        </p>
        <ul class="layadmin-homepage-list-inline">
          <a href="javascript:;" class="layui-btn layui-btn-primary">演员</a>
          <a href="javascript:;" class="layui-btn layui-btn-primary">主持人</a>
          <a href="javascript:;" class="layui-btn layui-btn-primary">摄影师</a>
          <a href="javascript:;" class="layui-btn layui-btn-primary">导演</a>
          <a href="javascript:;" class="layui-btn layui-btn-primary">公共人物</a>
        </ul>
      </div>
    </div>
    <div class="layui-col-md10">
      <div class="layui-fluid layadmin-homepage-content">
        <div class="layui-row  layadmin-homepage-padding15">
          <hr class="new-section-xs"></hr>
          <div class="layui-col-md7 layadmin-homepage-padding8">
            <div class="layui-row layadmin-homepage-text-center">
              <div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
                <p class="h4">52K</p>
                <mdall>关注</mdall>
              </div>
              <div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
                <p class="h4">72K</p>
                <mdall>以下</mdall>
              </div>
              <div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
                <p class="h4">5343</p>
                <mdall>照片</mdall>
              </div>
              <div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
                <p class="h4"><i class="layui-icon layui-icon-rate-solid"></i>4.5</p>
                <mdall>排行</mdall>
              </div>
            </div>
          </div>
          <div class="layui-col-md5">
              <a href="javascript:;" class="layui-btn layui-btn-normal">下载简历</a>
              <a href="javascript:;" class="layui-btn">发信息</a>
          </div>
        </div>
        <div class="layui-row layui-col-space20 layadmin-homepage-list-imgtxt">
          <div class="layui-col-md9">
            <div class="grid-demo">
              <div class="panel-body layadmin-homepage-shadow">
                <a href="javascript:;" class="media-left">
                  <script type="text/html" template>
                    <img src="{{ layui.setter.base }}style/res/template/portrait.png" height="46px" width="46px">
                  </script>
                </a>
                <div class="media-body">
                  <div class="pad-btm">
                    <p class="fontColor"><a href="javascript:;">胡歌</a>为<span>普通照片</span>添加了新的<span>照片</span></p>
                    <p class="min-font">
                      <span class="layui-breadcrumb" lay-separator="-">
                        <a href="javascript:;" class="layui-icon layui-icon-cellphone"></a>
                        <a href="javascript:;">从移动</a>
                        <a href="javascript:;">11分钟前</a>
                      </span>
                    </p>         
                  </div>
                  <p>历经打磨，@索尼中国 再献新作品—OLED电视A8F完美诞生。很开心一起参加了A8F的“首映礼”！[鼓掌]正如我们演员对舞台的热爱，索尼对科技与艺术的追求才创造出了让人惊喜的作品。作为A1兄弟款，A8F沿袭了黑科技“屏幕发声技术”和高清画质，色彩的出众表现和高端音质，让人在体验的时候如同身临其境。A8F，这次的“视帝”要颁发给你！  索尼官网预售： O网页链接 索尼旗舰店预售：</p>
                  <script type="text/html" template>
                    <img class="h-img" src="{{ layui.setter.base }}style/res/template/huge.jpg">
                  </script>
                  
                  <div class="media">
                    <div class="media-right">
                      <ul class="list-inline">
                        <li>
                          <i class="layui-icon layui-icon-camera-fill"></i>
                          <span>107</span>
                        </li>
                        <li>
                          <i class="layui-icon layui-icon-group"></i>
                          <span>95</span>
                        </li>
                      </ul>
                    </div>
                    <div class="media-left">
                      <ul class="list-inline">
                        <li>
                          <a href="javascript:;">
                            <script type="text/html" template>
                              <img class="img-xs" src="{{ layui.setter.base }}style/res/template/portrait.png">
                            </script>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;">
                            <script type="text/html" template>
                              <img class="img-xs" src="{{ layui.setter.base }}style/res/template/portrait.png">
                            </script>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;">
                            <script type="text/html" template>
                              <img class="img-xs" src="{{ layui.setter.base }}style/res/template/portrait.png">
                            </script>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;" class="">
                            14+
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="media-list">
                    <div class="media-item">
                      <a href="javascript:;" class="media-item-left">
                        <script type="text/html" template>
                          <img class="img-xs" src="{{ layui.setter.base }}style/res/template/portrait.png">
                        </script>
                       
                      </a>
                      <div class="media-text">
                        <div>
                            <a href="javascript:;">胡歌</a>
                            <mdall> 3月21日 19:56</mdall>
                        </div>
                        <div>一次难忘更难得的拍摄经历 谢谢</div>
                      </div>
                    </div>
                    <div class="media-item">
                      <a href="javascript:;" class="media-item-left">
                        <script type="text/html" template>
                          <img class="img-xs" src="{{ layui.setter.base }}style/res/template/portrait.png">
                        </script>
                      </a>
                      <div class="media-text">
                        <div>
                            <a href="javascript:;">胡歌</a>
                            <mdall> 3月21日 19:56</mdall>
                        </div>
                        <div>一次难忘更难得的拍摄经历 谢谢</div>
                      </div>
                    </div>
                    <div class="media-item">
                      <a href="javascript:;" class="media-item-left">
                        <script type="text/html" template>
                          <img class="img-xs" src="{{ layui.setter.base }}style/res/template/portrait.png">
                        </script>
                      </a>
                      <div class="media-text">
                        <div>
                            <a href="javascript:;">胡歌</a>
                            <mdall> 3月21日 19:56</mdall>
                        </div>
                        <div>一次难忘更难得的拍摄经历 谢谢</div>
                      </div>
                    </div>
                   <a href="javascript:;" class="layui-btn">更多</a>
                  </div>
                </div>
              </div>
              <div class="panel-body layadmin-homepage-shadow">
                <a href="javascript:;" class="media-left">
                  <script type="text/html" template>
                    <img src="{{ layui.setter.base }}style/res/template/portrait.png" height="46px" width="46px">
                  </script>
                </a>
                <div class="media-body">
                  <div class="pad-btm">
                    <p class="fontColor"><a href="javascript:;">胡歌</a>为<span>普通照片</span>添加了新的<span>照片</span></p>
                    <p class="min-font">
                      <span class="layui-breadcrumb" lay-separator="-">
                        <a href="javascript:;" class="layui-icon layui-icon-cellphone"></a>
                        <a href="javascript:;">从移动</a>
                        <a href="javascript:;">11分钟前</a>
                      </span>
                    </p>         
                  </div>
                  <p>历经打磨，@索尼中国 再献新作品—OLED电视A8F完美诞生。很开心一起参加了A8F的“首映礼”！[鼓掌]正如我们演员对舞台的热爱，索尼对科技与艺术的追求才创造出了让人惊喜的作品。作为A1兄弟款，A8F沿袭了黑科技“屏幕发声技术”和高清画质，色彩的出众表现和高端音质，让人在体验的时候如同身临其境。A8F，这次的“视帝”要颁发给你！  索尼官网预售： O网页链接 索尼旗舰店预售：</p>
                  <div class="media">
                    <div class="media-right">
                      <ul class="list-inline">
                        <li>
                          <i class="layui-icon layui-icon-camera-fill"></i>
                          <span>107</span>
                        </li>
                        <li>
                          <i class="layui-icon layui-icon-group"></i>
                          <span>95</span>
                        </li>
                      </ul>
                    </div>
                    <div class="media-left">
                      <ul class="list-inline">
                        <li>
                          <a href="javascript:;">
                            <script type="text/html" template>
                              <img class="img-xs" src="{{ layui.setter.base }}style/res/template/portrait.png">
                            </script>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;">
                            <script type="text/html" template>
                              <img class="img-xs" src="{{ layui.setter.base }}style/res/template/portrait.png">
                            </script>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;">
                            <script type="text/html" template>
                              <img class="img-xs" src="{{ layui.setter.base }}style/res/template/portrait.png">
                            </script>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;" class="">
                            14+
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-col-md3">
            <div class="grid-demo">
              <div class="layui-card homepage-top">
                <div class="layui-card-header">
                  <h3 class="panel-title">
                    <i class="layui-icon layui-icon-picture"></i>
                    画廊
                  </h3>
                </div>
                <div class="layui-card-body">
                  <div class="layui-row layui-col-space15">
                    <div class="layui-col-md4">
                      <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                      </script>
                    </div>
                    <div class="layui-col-md4">
                      <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                      </script>
                    </div>
                    <div class="layui-col-md4">
                      <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                      </script>
                    </div>
                    <div class="layui-col-md4">
                      <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                      </script>
                    </div>
                    <div class="layui-col-md4">
                      <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                      </script>
                    </div>
                    <div class="layui-col-md4">
                      <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                      </script>
                    </div>
                    <div class="layui-col-md4">
                      <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                      </script>
                    </div>
                    <div class="layui-col-md4">
                      <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                      </script>
                    </div>
                    <div class="layui-col-md4">
                      <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                      </script>
                    </div>
                    <div class="layui-col-md12 margin-top10">
                      <a href="javascript:;"  class="layui-btn layui-btn-primary">更多</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="layui-card homepage-bottom">
                <div class="layui-card-header">
                  <h3 class="panel-title">
                    <i class="layui-icon layui-icon-user"></i>
                    私信
                  </h3>
                </div>
                <div class="layui-card-body">
                    <a href="javascript:;" class="layadmin-privateletterlist-item">
                      <div class="meida-left">
                        <script type="text/html" template>
                          <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                        </script>
                      </div>
                      <div class="meida-right">
                        <p>Hugo</p>
                        <mdall>人生是一场修行,不要轻易交白卷</mdall>
                      </div>
                    </a>
                    <a href="javascript:;" class="layadmin-privateletterlist-item">
                      <div class="meida-left">
                        <script type="text/html" template>
                          <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                        </script>
                      </div>
                      <div class="meida-right">
                        <p>Hugo</p>
                        <mdall>人生是一场修行,不要轻易交白卷</mdall>
                      </div>
                    </a>
                    <a href="javascript:;" class="layadmin-privateletterlist-item">
                      <div class="meida-left">
                        <script type="text/html" template>
                          <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                        </script>
                      </div>
                      <div class="meida-right">
                        <p>Hugo</p>
                        <mdall>人生是一场修行,不要轻易交白卷</mdall>
                      </div>
                    </a>
                    <a href="javascript:;" class="layadmin-privateletterlist-item">
                      <div class="meida-left">
                        <script type="text/html" template>
                          <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                        </script>
                      </div>
                      <div class="meida-right">
                        <p>Hugo</p>
                        <mdall>人生是一场修行,不要轻易交白卷</mdall>
                      </div>
                    </a>
                     <a href="javascript:;" class="layadmin-privateletterlist-item">
                      <div class="meida-left">
                        <script type="text/html" template>
                          <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                        </script>
                      </div>
                      <div class="meida-right">
                        <p>Hugo</p>
                        <mdall>人生是一场修行,不要轻易交白卷</mdall>
                      </div>
                    </a>
                    <a href="javascript:;" class="layadmin-privateletterlist-item">
                      <div class="meida-left">
                        <script type="text/html" template>
                          <img src="{{ layui.setter.base }}style/res/template/portrait.png">
                        </script>
                      </div>
                      <div class="meida-right">
                        <p>Hugo</p>
                        <mdall>人生是一场修行,不要轻易交白卷</mdall>
                      </div>
                    </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
layui.use(['admin'], function(){
  var $ = layui.$
  ,admin = layui.admin;

});
</script>