#DONOTUSE_MAINPANEL {
  margin: 10px;
  font-family: "segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif";
  line-height: 160%
}

ul.doc {
  margin-left: 30px;
  list-style-type: disc;
}

ol.doc {
  margin-left: 30px;
  list-style-type: decimal;
}

.doc li {
  list-style: unset;
}
