@model WalkingTec.Mvvm.Core.BaseVM
<wt:fieldset field-set-style="Simple" title="Custom primary key">
  <p>Since V2.3.5, WTM supports user-defined primary key categories. In addition to the guid, it also supports auto increment int, long, and string types.</p>
  <p>The code generator of the framework can accurately identify the primary key type in the model and generate the corresponding code.</p>
    <wt:code title="Student.cs">
public class Student : BasePoco
{
    [Key]
    [Column("testid")]
    [DatabaseGenerated(DatabaseGeneratedOption.Identity)]
    public new int ID { get; set; }

    // 。。。。 other properties
}
    </wt:code>
</wt:fieldset>
<wt:quote>
  <p>The above code demonstrates how to use the ‘new’ keyword to override the ID attribute, defined in the base class to form an auto increment primary key of type int and change the name of the primary key by setting [Column (‘XXX’)]</p>
</wt:quote>

<wt:fieldset field-set-style="Simple" title="String type primary key">
    <wt:code title="Student.cs">
public class Student : BasePoco
{
    [Key]
    public new string ID { get; set; }

    // 。。。。 other properties
}
    </wt:code>
</wt:fieldset>
<wt:quote>

  <p>The above code demonstrates a String type primary key, String type primary key can not be auto-increment , So you need to set it manually when adding.</p>
</wt:quote>

<p>
  Customized primary key is mainly used when we develop application on top of the existing database. We can use other functionalities of the framework as long as we match the attributes in the model with the existing database.
</p>

  <script>
    layui.use('code', function () { layui.code({ about: false }) })
  </script>
<script>
  $("#@Model.ViewDivId").parent().css("height", "auto");
</script>
