@model WalkingTec.Mvvm.Mvc.Admin.ViewModels.FrameworkMenuVMs.FrameworkMenuListVM

<div style="height:10px"></div>
<wt:grid vm="@Model" hidden-grid-index="true" url="/_Admin/FrameworkMenu/Search" />

<!-- WTM默认页面 Wtm buidin page-->
