<div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree">
        <li class="layui-nav-item">
            <a class="" href="javascript:;">QuickStart</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;ff.LoadPage('/QuickStart/Intro')">Intro</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/QuickStart/FirstProject')">First project</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/QuickStart/FirstModule')">First module</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/QuickStart/CustomUser')">Customize user</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Spa/Intro')">Client-side development</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Home/DonateList')">Donate</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/QuickStart/FAQ')">FAQ</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="" href="javascript:;">Settings</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;ff.LoadPage('/Global/Config')">Config file</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Global/Global')">Global variable</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Global/CS')">Multi database</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Global/DP')">Data permission</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Global/Route')">Route</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Global/Publish')">Publish</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="" href="javascript:;">Model layer</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;ff.LoadPage('/Model/Poco')">Create model</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Model/Att')">Model attributes</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Model/BuildIn')">Buildin models</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="" href="javascript:;">ViewModel layer</a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;ff.LoadPage('/VM/VM')">Basic viewmodel</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/VM/CRUD')">CRUD viewmodel</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/VM/List')">List viewmodel</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/VM/ListAction')">&nbsp;&nbsp;&nbsp;&nbsp;Action buttons of listvm</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/VM/ListColumn')">&nbsp;&nbsp;&nbsp;&nbsp;Headers setting of listvm</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/VM/Import')">Import viewmodel</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/VM/Batch')">Batch viewmodel</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="" href="javascript:;">Controller</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;ff.LoadPage('/Control/Intro')">Intro</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Control/Att')">Attributes</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="" href="javascript:;">Data layer</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;ff.LoadPage('/Data/Intro')">Intro</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Data/Migration')">Migration</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="" href="javascript:;">Client-side</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;ff.LoadPage('/Spa/Intro')">Intro</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Spa/Global')">GlobalSetting</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Spa/Dir')">File structure</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a class="" href="javascript:;">View layer</a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;ff.LoadPage('/UI/Intro')">Intro</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/Layout')">Layout</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/Form')">Form</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/TextBox')">&nbsp;&nbsp;&nbsp;&nbsp;TextBox</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/ComboBox')">&nbsp;&nbsp;&nbsp;&nbsp;ComboBox</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/Transfer')">&nbsp;&nbsp;&nbsp;&nbsp;Transfer</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/Tree')">&nbsp;&nbsp;&nbsp;&nbsp;Tree</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/TreeContainer')">&nbsp;&nbsp;&nbsp;&nbsp;TreeContainer</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/Slider')">&nbsp;&nbsp;&nbsp;&nbsp;Slider</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/CheckBox')">&nbsp;&nbsp;&nbsp;&nbsp;CheckBox</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/Radio')">&nbsp;&nbsp;&nbsp;&nbsp;Radio</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/DateTime')">&nbsp;&nbsp;&nbsp;&nbsp;DateTime</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/Upload')">&nbsp;&nbsp;&nbsp;&nbsp;Upload</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/Selector')">&nbsp;&nbsp;&nbsp;&nbsp;Selector</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/Rich')">&nbsp;&nbsp;&nbsp;&nbsp;RichTextBox</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/UEditor')">&nbsp;&nbsp;&nbsp;&nbsp;UEditor</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/Others')">&nbsp;&nbsp;&nbsp;&nbsp;Others</a></dd>
              <dd><a href="javascript:;ff.LoadPage('/UI/Grid')">Grid</a></dd>
              @*<dd><a href="javascript:;ff.LoadPage('/UI/Js')">JS函数</a></dd>*@
            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="" href="javascript:;">Buildin admin module</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;ff.LoadPage('/Admin/Intro')">Intro</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Admin/Log')">Log</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Admin/User')">User management</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Admin/Role')">Role management</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Admin/Menu')">Menu</a></dd>
                <dd><a href="javascript:;ff.LoadPage('/Admin/Dp')">Data privilege</a></dd>
            </dl>
        </li>
    </ul>
</div>
