<div class="layui-layout">
  <div class="layui-body" style="left:0px" id="LAY_app_body">
    <div id="Lay_app_body_main" class="layadmin-tabsbody-item layui-show" style="height:100%"></div>
  </div>
</div>
<script>layui.use('index', function () { layui.admin.pageType = "console";})</script>
