.page-card {
    &.ant-card{
        position: initial;
    }
    .ant-card-body {
        padding: 12px
    }
}

.page-divider {
    margin: 2px 0;
}

.page-filter-form {
    user-select: none;
    .ant-form-item {
        display: flex;
        margin-bottom: 5px;
    }

    .ant-form-item-control-wrapper {
        flex: 1;
    }
}