
/**
 
 @Name: 付费产品文档页
 @Author: 贤心
 @Site: fly.layui.com
 
 */

html{background: none;}
.fly-header{position: relative; top: 0;}
html body{margin-top: 0;}


.fly-body-docs .fly-header .fly-nav,
.fly-body-docs .fly-footer{display: none;}


/* 新增和编辑 */
.fly-docs-write,
.fly-docs-preview{position: fixed; left: 0; top: 60px; bottom: 0; width: 50%; box-sizing: border-box;}
.fly-docs-editor{position: absolute; width: 100%; height: 100%; padding: 20px; border: none; overflow: auto; box-sizing: border-box; resize: none;}
.fly-docs-form{position: fixed; top: 12px; left: 10px; width: 50%; padding: 0; z-index: 10001; box-sizing: border-box;}
.fly-docs-form .layui-input{}
.fly-docus-btn{position: absolute; right: 15px; bottom: 15px; z-index: 10000;}


.fly-docs-preview{left: auto; right: 0; border-left: 1px solid #e2e2e2; padding: 20px; overflow: auto;}




/* markdown 文档 */
.fly-md-text{line-height: 24px;}
.fly-md-text h2{margin: 35px 0 20px;}
.fly-md-text h3{margin: 20px 0;}
.fly-md-text h4,
.fly-md-text h5,
.fly-md-text h6{font-weight: 700;}

.fly-md-text blockquote{margin: 10px 0; padding: 15px; line-height: 22px; border-left: 5px solid #009688; border-radius: 0 2px 2px 0; background-color: #f2f2f2;}
.fly-md-text pre{font-size: 14px; color: #666;}
.fly-md-text ul{padding: 0;}
.fly-md-text ul,
.fly-md-text ol{margin-bottom: 10px; padding-left: 15px;}
.fly-md-text ol li{list-style-type: decimal;}
.fly-md-text ul ul li,
.fly-md-text ol ul li{list-style-type: circle;}
.fly-md-text strong,.fly-md-text em{padding: 0 3px;}
.fly-md-text code,
.fly-md-text pre{font-family: Monaco,Menlo,Consolas,"Courier New",monospace;}
.fly-md-text code{padding: 3px 5px;  background-color: #f2f2f2; border-radius: 2px;}
.fly-md-text pre code{padding: 0; background: none; border-radius: 0;}



.fly-md-text .fly-md-notice{text-align: center; padding: 50px 20px;}


/* 文档详情 */
.fly-docs-container{padding: 20px;}
.fly-docs-info{padding: 10px 0;}
.fly-docs-info>span{display: inline-block; margin-right: 10px; line-height: 26px; padding: 0 10px; border: 1px solid #e6e6e6; border-radius: 2px; color: #666;}
.fly-docs-admin{padding: 10px 0;}
.fly-docs-title{margin-bottom: 10px; padding-bottom: 10px; color: #000; border-bottom: 1px solid #e6e6e6;}
.fly-docs-container .fly-md-text{padding: 20px 0;}

.fly-md-dir{position: fixed; top: 0; bottom: 0; left: 0; width: 220px; padding: 20px; border-right: 1px solid #f2f2f2; overflow: auto; background-color: #f2f2f2; box-sizing: border-box; transition: all .3s; -webkit-transition: all .3s;}
.fly-md-dir:before{content: '目录'; position: relative; width: 100%; display: block; margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #e6e6e6; font-size: 20px; box-sizing: border-box;}

#FLY-spread-dir{position: fixed; left: 15px; bottom: 15px; width: 50px; height: 50px; line-height: 50px; text-align: center; background-color: #2F9688; border-radius: 5px; color: #fff;}
#FLY-spread-dir .layui-icon{font-size: 20px;}

/* 移动端展开模式 */
.fly-docs-spread .fly-md-dir{transform: translate3d(0, 0, 0) !important;}


/* 产品文档 */
@media screen and (max-width: 1620px){
  .fly-body-docs .layui-container{padding-left: 220px; width: 100%;}
}

@media screen and (max-width: 768px){
  .fly-body-docs  .layui-container{padding-left: 0;}
  .fly-md-dir{transform: translate3d(-220px, 0, 0); z-index: 999999999999;}
  #FLY-spread-dir{display: block !important;}
}