

<title>回帖列表</title>
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>应用</cite></a>
    <a><cite>回帖列表</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layuiadmin-app-forum-reply">
      <div class="layui-form-item">
        <div class="layui-inline layuiadmin-input-useradmin">
          <label class="layui-form-label">回帖人</label>
          <div class="layui-input-block">
            <input type="text" name="replyer" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">回帖内容</label>
          <div class="layui-input-block">
            <input type="text" name="content" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-replys" data-type="reload" lay-submit lay-filter="LAY-app-forumreply-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-replys" data-type="batchdel">删除</button>
      </div>
      <table id="LAY-app-forumreply-list" lay-filter="LAY-app-forumreply-list"></table> 
      <script type="text/html" id="imgTpl">
        <img style="display: inline-block; width: 50%; height: 100%;" src= {{ d.avatar }}>
      </script>  
      <script type="text/html" id="table-forum-replys">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script>
layui.use('forum', layui.factory('forum')).use(['admin', 'forum', 'table'], function(){
  var $ = layui.$
  ,form = layui.form
  ,table = layui.table;
  
  form.render(null, 'layuiadmin-app-forum-reply');
  
  //监听搜索
  form.on('submit(LAY-app-forumreply-search)', function(data){
    var field = data.field;
    
    //执行重载
    table.reload('LAY-app-forumreply-list', {
      where: field
    });
  });
  
  var active = {
    batchdel: function(){
      var checkStatus = table.checkStatus('LAY-app-forumreply-list')
      ,checkData = checkStatus.data; //得到选中的数据

      if(checkData.length === 0){
        return layer.msg('请选择数据');
      }
    
      layer.confirm('确定删除吗？', function(index) {
        
        //执行 Ajax 后重载
        /*
        admin.req({
          url: 'xxx'
          //,……
        });
        */
        table.reload('LAY-app-forumreply-list');
        layer.msg('已删除');
      });
    }
  }
  
  $('.layui-btn.layuiadmin-btn-replys').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>