@model WalkingTec.Mvvm.Demo.ViewModels.HomeVMs.IndexVM
@{
    Layout = "_Layout";
}

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        @await Html.PartialAsync("Header",Model)
    </div>

    <div class="layui-side layui-bg-black">
        @await Html.PartialAsync("Menu", Model)
    </div>

    <div class="layui-body" id="DONOTUSE_MAINPANEL" >
        <!-- 内容主体区域 -->
    </div>

    <div class="layui-footer">
        Powered by WalkingTec
    </div>
</div>
