<div class="layui-layout layui-layout-admin">
  <div class="layui-body" id="LAY_app_body" style="left: 0; top: 0; bottom: 0; padding-bottom: 0px; background-color: #fff ">
  </div>
  <div class="layadmin-body-shade" layadmin-event="shade"></div>
</div>

<script>layui.use('pindex')</script>
