@page "/"
@using WalkingTec.Mvvm.Core;
@inject IStringLocalizer Localizer;

<EditorForm Model="@Model">
</EditorForm>

<div>
    test: @Localizer["_Admin.Account"]
</div>

@code{
    FrameworkUser Model = new FrameworkUser();
}
